<!-- START NAV -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    Blog Away
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active">
                            About
                    </a>
                    {{#if user}}
                    <a href="/posts/new" class="navbar-item">
                            Write a Blog
                    </a>
                    <a href="/logout" class="navbar-item">
                          Logout
                    </a>
                    {{else}}
                    <a href="/login" class="navbar-item">
                          Login
                    </a>
                    <a href="/register" class="navbar-item">
                          Register
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->