    <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">{{blogpost.title}}</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded">{{blogpost.date}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                           {{blogpost.body}}
                        </div>
                        <div class="mt-5 has-text-centered">
                            <a href="/posts/edit/{{blogpost._id}}" class="button is-danger is-outlined is-small">Edit</a>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
            </div>
        </section>
  